<!DOCTYPE html>
<html>
    <head>
      	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <title><%= post.post_title %>-一滴水前端博客</title>
        <link rel='stylesheet' href="//cdn.bootcss.com/quill/1.2.0/quill.snow.css">
        <link rel='stylesheet' href='//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css'/>
        <link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/monokai-sublime.min.css" rel="stylesheet">  
        <link href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel='stylesheet' href='//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap-grid.min.css'/>
    </head>
    <body style="background-color:rgb(244, 244, 244);">
        <div class="container p" id="container">
        	<div class="col col-lg-10 offset-lg-1">
        		<article>
        			<div class="p-header">                       
                    	<h1><%- post.post_title %></h1>
                        <p>分类：<%- post.post_tag %></p>
                        <span><i class="fa fa-eye"></i> &nbsp;<%- post.post_pv %> </span>
                    </div>
                    <section class="content">
                    	<%- post.post_html %>
                    </section>
        		</artilce>
        		<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
                <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
                <script>
	                var cloudTieConfig = {
	                  url: '', 
	                  sourceId: "<%= post._id %>",
	                  productKey: "82970b6cb4764d47814a6c9272b34ec8",
	                  target: "cloud-tie-wrapper"
	                };
	                var yunManualLoad = true;
	                Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true)
                </script>
        	</div>
        </div>
        <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
        <script type="text/javascript">
        	hljs.initHighlightingOnLoad();
            var uyan_config = { 
                 'du':'92node.com'
            };
            $("#editor").children('.ql-editor').attr("contenteditable",false);
        </script>
   		<% if(isMobile){ %>
		<a href="/" class="home-back-box">
			<i class="fa fa-home"></i>
		</a>
		<% } %>
		<footer class="site-info-wrap">
		    <div class="container">
		        <div class="friend-link">
		            <p>友情链接：
		                <a href="http://www.nineui.com/" rel="nofollow" target="_blank">NINEUI设计</a>
		            	<a href="http://www.cnblogs.com/dupd/" rel="nofollow" target="_blank">博客园</a>
		                <a href="https://juejin.im/timeline" rel="nofollow" target="_blank">掘金</a>
		                <a href="http://www.jianshu.com/search?q=%E5%89%8D%E7%AB%AF&page=1&type=collection" rel="nofollow" target="_blank">简书</a>
		            </p>
		       		<p class="text-right f-12"><a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">京ICP备17017454号</a></p>
		        </div>
		    </div>
		    <script>
		        (function(){
		        	var id = "<%= post._id %>";
		        	var str = 'p' + id.slice(-5);
	                var pm = JSON.parse(window.sessionStorage.pm||"{}");
	                if(!pm[str]){
	                    $.ajax({
	                        type:'post',
	                        url:'/api/plugin/times',
	                        dataType:'json',
	                        data:{
	                           id:id 
	                        },
	                        success:function(res){
	                            pm[str] = 1;
	                            window.sessionStorage.pm = JSON.stringify(pm);
	                        }
	                    })
	                };
		        	$("#container").css("min-height",$(window).height()-$(".site-info-wrap").outerHeight());
		            var bp = document.createElement('script');
		            var curProtocol = window.location.protocol.split(':')[0];
		            if (curProtocol === 'https') {
		                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
		            }
		            else {
		                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
		            }
		            var s = document.getElementsByTagName("script")[0];
		            s.parentNode.insertBefore(bp, s);
		        })();
		    </script>
		</footer>
    </body>
</html>
